@import "variables";

.loader-container {
  display: flex;
  position: fixed;
  background: lightgray;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  animation: hideLoader 3s linear forwards;
}

@keyframes hideLoader {
  0% {
    opacity: 1;
    pointer-events: none;
    position: fixed
  }
  100% {
    opacity: 0;
    display: none;
    pointer-events: none;
  }
}

.loader {
  width: 3rem;
  height: 3rem;
  // margin: 50vh 50vw;
  position: relative;
  border: 0.5rem solid $color-primary;
  border-top-color: $color-secondary;
  border-radius: 50%;
  animation: spin 3s linear infinite;
  // z-index: -1000;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  border: 0.5rem solid transparent;
  border-radius: 50%;
}

.loader:before {
  border-top-color: $color-tertiary;
  animation: spin 1.5s linear infinite;
}

.loader:after {
  border-top-color: $color-primary;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    display: none
  }
}